@tailwind base;
@tailwind components;
@tailwind utilities;

@Layer components {
    .button {
        @apply cursor-pointer rounded-md bg-white px-3 py-2 font-headline
        font-semibold transition-all
    }
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 15px 15px rgb(255, 255, 255); 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #343434; 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #79c2c6; 
}